h1 {
    color: rgba(30,30,70,0.9) !important;
}

article {
    border: 1px solid rgba(100,180,240,0.5);
}

a {
    color: rgba(90,170,230,1.0);
}

.lighter {
    color: rgba(30,30,70,0.7) !important;
}

.darker {
    color: rgba(30,30,70,1.0) !important;
}

.heavier {
    font-weight: 500;
}

.slightly-larger {
    font-size: 1.3rem;
    font-weight: 200;
}

.blog-content {
    font-family: 'Amiri', serif !important;
}

.dim-background, .dim-background:focus {
    background-color: rgba(248,249,255,1.0);
}

.btn-primary {
    background-color: rgba(100,180,240,1.0) !important;
    border: none;
}

.btn-primary:hover {
    background-color: #fff !important;
    color: rgba(100,180,240,1.0) !important;
    border: solid 1px rgba(100,180,240,1.0) !important;
}

.blog-detail-content {
    font-size: 1.8rem;
}

.large-heading {
    font-weight: 200;
}

.spaced-mini {
    letter-spacing: 0.4rem;
}

.spaced-short {
    letter-spacing: 0.7rem;
}

.spaced-long {
    letter-spacing: 1.3rem;
}

@media screen and (max-width: 640px) {
    h1 {
        font-size: 3.0rem !important;
    }

    p {
        font-size: 1.0rem !important;
    }
}

@media screen and (max-width: 415px) {
    #logo {
        font-size: 2.0rem !important;
        font-weight: 500;
    }
}

@media screen and (max-width: 350px) {
    #logo {
        font-size: 1.0rem !important;
        font-weight: 700;
    }
}