.btn-secondary {
    background-color: #fff;
    color: rgba(100,180,240,1.0);
    border-color: rgba(100,180,240,1.0);
}

.btn-secondary:hover, .btn-secondary:focus {
    background-color: rgba(100,180,240,1.0);
    color: #fff;
    border-color: rgba(100,180,240,1.0);
}